<div class="container">

  <h1 class="text-center m-t-50-px m-b-50-px"><%= @user_category.category.name %></h1>

<!--//////////////////////////////////////////////////-->
<!--                 List Of Tasks                    -->
<!--//////////////////////////////////////////////////-->

<div id="all-task">

  <% if @user_category.tasks.where(status: "incomplete").empty? %>

    <div class="alert alert-danger" role="alert" id="alert-<%=@user_category.category_id %>">You do not have any active tasks! <%= link_to "Time to create a task", "#", data: {toggle: "modal", target: "#newTaskModal"}, class: "task_form_link alert-link", id: @user_category.category_id %>.</div>

  <% end %>

    <div class="row m-b-50-px">
      <ul class="list-group col-sm-8 col-sm-offset-2" id="list-of-class" >

      <% @user_category.tasks.each do |task|%>
        <% if task.status ==  "incomplete"%>
          
          <%= render partial: "layouts/task", locals: {task: task} %>
              
        <% end %>
      <% end %>

      </ul>
      <%= link_to "Create a task", "#", data: {toggle: "modal", target: "#newTaskModal"}, class: "task_form_link alert-link", id: @user_category.category_id %>
    </div>


</div>

<!-- - - - - - - - - - - Stats - - - - - - - - - - - --> 

<% if !@user_category.tasks.empty?%>

  <h2 class="text-center m-b-50-px">Some stats</h2> 

  <!--//////////////////////////////////////////////////-->
  <!--                   Stats Recap                    -->
  <!--//////////////////////////////////////////////////-->

  <div class="well font-blocks text-center m-b-50-px" id="stats-recap">

    <%= render partial: "layouts/stats_recap" %>
    
  </div>


  <!--//////////////////////////////////////////////////-->
  <!--                   Pie Chart                      -->
  <!--//////////////////////////////////////////////////-->

  <div class="m-b-50-px" id="pie-chart">

  <%= render partial: "layouts/pie_chart" %>

  </div>

<% end %>
  
</div>

