<div class="container">
<h2 class="text-center m-b-50-px"><%= @user_category.category.name %></h2>

<!--//////////////////////////////////////////////////-->
<!--                 List Of Tasks                    -->
<!--//////////////////////////////////////////////////-->


<% if @user_category.tasks.where(status: "incomplete").empty? %>
  <div class="alert alert-danger" role="alert">You do not have any active tasks! <%= link_to "Time to create a task", "#", data: {toggle: "modal", target: "#newTaskModal"}, class: "task_form_link alert-link", id: @user_category.category_id %>.</div>

<% else %>

  <div class="row">
    <ul class="list-group col-sm-8 col-sm-offset-2">

    <% @user_category.tasks.each do |task|%>
      <% if task.status ==  "incomplete"%>
        <li class = "list-group-item"><%= task.title %>

          <div class="btn-group pull-right" role="group">      
            <span class="glyphicon glyphicon-option-horizontal dropdown-toggle" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span> 

            <ul class="dropdown-menu">
              <li><%= link_to 'Delete', task_path(task), :method => :delete %></li>
              <li><%= button_to 'Completed', task_path(task), :method => :put, params: {:"task[status]" => "completed"} %></li>
              <li><%= button_to 'Abandoned', task_path(task), :method => :put, params: {:"task[status]" => "abandoned"} %></li>
            </ul>
          </div>
        </li>
            
      <% end %>
    <% end %>
    <%= link_to "Create a task", "#", data: {toggle: "modal", target: "#newTaskModal"}, class: "task_form_link alert-link", id: @user_category.category_id %>
    </ul>
  </div>

  <% end %>
  <div>

<!--//////////////////////////////////////////////////-->
<!--                   Pie Chart                      -->
<!--//////////////////////////////////////////////////-->


  <% if !@user_category.tasks.empty?%>

  <%= pie_chart @user_category.tasks.group('tasks.status').count, colors: ["pink", "#999", "grey"]  %>

<!--//////////////////////////////////////////////////-->
<!--              Stats Descriptions                  -->
<!--//////////////////////////////////////////////////-->

  <p>You created <%= @user_category.tasks.count %> tasks.</p>

  <p>You have <%= @user_category.tasks.where(status: 'incomplete').count %> active tasks.</p>
  
  <p>You completed <%= @user_category.tasks.where(status: 'completed').count %> tasks.</p>
   
  <p>You abandonned <%= @user_category.tasks.where(status: 'abandoned').count %> tasks.</p>
  
<!--//////////////////////////////////////////////////-->
<!--                    Line Chart                    -->
<!--//////////////////////////////////////////////////-->


    <% if false #-----\/----\/----\/---- %>

      <%= line_chart [
        {name: "Tasks created", data: @user_category.tasks.group("strftime('%Y-%m-%d', tasks.created_at)").count},
        {name: "Tasks completed", data: @user_category.tasks.where(status: "completed").group("strftime('%Y-%m-%d', tasks.modified_at)").count},
        {name: "Tasks abandoned", data: @user_category.tasks.where(status: "abandoned").group("strftime('%Y-%m-%d', tasks.modified_at)").count}
      ], colors: ["pink", "#999", "grey"] %>
      <% end %>

    <% end #____/\____/\____/\____/\-------%>

  </div>
</div>

