<div class="container">
<h1 class="text-center m-t-50-px m-b-50-px"><%= @user_category.category.name %></h1>

<!--//////////////////////////////////////////////////-->
<!--                 List Of Tasks                    -->
<!--//////////////////////////////////////////////////-->


<% if @user_category.tasks.where(status: "incomplete").empty? %>
  <div class="alert alert-danger" role="alert">You do not have any active tasks! <%= link_to "Time to create a task", "#", data: {toggle: "modal", target: "#newTaskModal"}, class: "task_form_link alert-link", id: @user_category.category_id %>.</div>

<% else %>

  <div class="row m-b-50-px">
    <ul class="list-group col-sm-8 col-sm-offset-2">

    <% @user_category.tasks.each do |task|%>
      <% if task.status ==  "incomplete"%>
        <li class = "list-group-item"><%= task.title %>

          <div class="btn-group pull-right" role="group">      
            <span class="glyphicon glyphicon-option-horizontal dropdown-toggle" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span> 

            <ul class="dropdown-menu">
              <li><%= link_to 'Delete', task_path(task), :method => :delete %></li>
              <li><%= button_to 'Completed', task_path(task), :method => :put, params: {:"task[status]" => "completed"} %></li>
              <li><%= button_to 'Abandoned', task_path(task), :method => :put, params: {:"task[status]" => "abandoned"} %></li>
            </ul>
          </div>
        </li>
            
      <% end %>
    <% end %>
    <%= link_to "Create a task", "#", data: {toggle: "modal", target: "#newTaskModal"}, class: "task_form_link alert-link", id: @user_category.category_id %>
    </ul>
  </div>

  <% end %>

<!-- - - - - - - - - - - Stats - - - - - - - - - - - --> 

  <% if !@user_category.tasks.empty?%>

  <h2 class="text-center m-b-50-px">Some stats</h2> 

  <!--//////////////////////////////////////////////////-->
  <!--              Stats Descriptions                  -->
  <!--//////////////////////////////////////////////////-->

  <div class="well font-blocks text-center m-b-50-px">

    <p>For <span class="underlined"><%= @user_category.category.name %></span>:</p>

    <p>You created <%= @user_category.tasks.count %> tasks.</p>

    <p>You have <%= @user_category.tasks.where(status: 'incomplete').count %> active tasks.</p>
    
    <p>You completed <%= @user_category.tasks.where(status: 'completed').count %> tasks.</p>
     
    <p>You abandonned <%= @user_category.tasks.where(status: 'abandoned').count %> tasks.</p>
    
  </div>


<!--//////////////////////////////////////////////////-->
<!--                   Pie Chart                      -->
<!--//////////////////////////////////////////////////-->

  <div class="m-b-50-px">

  <%= pie_chart @user_category.tasks.group('tasks.status').count, colors: ["pink", "#999", "grey"]  %>

  </div>
  <% end %>
  
</div>

