<div class='container-fluid'>
  <h1>My categories</h1>
  <div class="row centered">
    <% @user.categories.each do |category|%>
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 categories" id="category-<%= category.id %>">
        <h4><%= category.name %></h4>
          <% category.entries.each do |entry|%>
            <div class='well'>
              <%= entry.title %>
              </br>
              <%= button_to 'Delete', entry_path(entry), :method => :delete %>
              <%= button_to 'Completed', entry_path(entry), :method => :put, params: {:"entry[status]" => "completed"} %>
              <%= button_to 'Abandoned', entry_path(entry), :method => :put, params: {:"entry[status]" => "abandoned"} %>
            </div>
          <% end %>
        <div>
          <%= link_to 'Add Entry...', "#", data: {toggle: "modal", target: "#newEntryModal"}, class: "entry_form_link", id: category.id %>
        </div>
      </div>
    <% end %>
  </div>
</div>

