<h3>My Stats</h3>
<p>The category for which you have created the most tasks is <%= @category_with_most_tasks.name %></p>
<p>The category with the most completed tasks is <%= @category_with_most_completed_tasks.name %></p>
<p>The category with the most abandoned tasks is <%= @category_with_most_abandoned_tasks.name %></p>
<p>The total number of tasks is <%= @total_number_of_tasks %></p>

<%= pie_chart Task.joins(:user_category => [:category]).group('categories.name').count %>

<%= line_chart Task.group("strftime('%Y-%m-%d', tasks.created_at)").count %>

<%= line_chart Task.where(status: "completed").group("strftime('%Y-%m-%d', tasks.modified_at)").count %>

