<div data-toggle="collapse" href="#collapsed-details-<%= task.id %>" aria-expanded="false" aria-control="collapsed-details-<%= task.id %>">

  <!-- - - - - - - - - - -  Title - - - - - - - - - - - - -->
  <li class = "list-group-item" id="task_<%= task.id %>"><%= task.title %>

  <!-- - - - - - - - - Dropdown  Menu - - - - - - - - - - -->
    <div class="btn-group pull-right" role="group">      
      <span class="glyphicon glyphicon-option-horizontal dropdown-toggle" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span> 

      <ul class="dropdown-menu">
        <li><%= link_to 'Delete', task_path(task), :method => :delete, remote: true %></li>
        <li><%= link_to 'Completed', task_path(task, params: {:"task[status]" => "completed"}), :method => :put, remote: true %></li>
        <li><%= link_to 'Abandoned', task_path(task, params: {:"task[status]" => "abandoned"}), :method => :put, remote: true %></li>
      </ul>

    </div>

    <!-- - - - - - - - - - Description  - - - - - - - - - - -->
    <div class="collapse descriptions" id="collapsed-details-<%= task.id %>">
      <% if (!task.description || task.description == "") %>
        No description for this task!
      <% else %>
        <%= task.description %>
      <% end %>
    </div>

  </li>

</div>