<li class = "list-group-item" id="task_<%= task.id %>"><%= task.title %>

  <div class="btn-group pull-right" role="group">      
    <span class="glyphicon glyphicon-option-horizontal dropdown-toggle" aria-hidden="true" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></span> 

    <ul class="dropdown-menu">
      <li><%= link_to 'Delete', task_path(task), :method => :delete, remote: true %></li>
      <li><%= button_to 'Completed', task_path(task), :method => :put, params: {:"task[status]" => "completed"}, remote: true %></li>
      <li><%= button_to 'Abandoned', task_path(task), :method => :put, params: {:"task[status]" => "abandoned"} %></li>
    </ul>
  </div>
</li>